.books-section {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  width: calc(100vw - 170px);
  padding-block: 3vw;
  padding-inline: 2vw;
  position: absolute;
  right: 170px;
}

.search.ar {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  input {
    outline: none;
    border: none;
    width: 250px;
    height: 30px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    background-color: var(--background-color);
    color: var(--text-light);
  }

  .search-icon {
    width: 40px;
    height: 30px;
    background-color: red;
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    

    svg {
      color: rgb(255, 255, 255);
    }
  }
}

.books-container {
  // display: grid;
  // justify-content: flex-start;
  // grid-template-columns: repeat(auto-fill, 340px);
  // grid-gap: 1.2em;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 1.2em;
  align-items: flex-end;
}

.book-card {
  flex: 0 0 340px; //grow shrink basis
  // The flex property is a shorthand property for the flex-grow, flex-shrink, and flex-basis properties.
  // The flex-grow = ينمو  property specifies how much a flex item will grow relative to the rest of the flex items.
  // The flex-shrink = يتقلص property specifies how much a flex item will shrink relative to the rest of the flex items.
  // The flex-basis property specifies the initial length of a flex item.

  background-color: var(--background-color);
  height: 180px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 0px 0px 15px var(--shadow-color);

  .book-cover {
    width: 130px;
    height: 180px;
    padding: 10px;
    img {
      width: 110px;
      height: 160px;
      object-fit: fill;
      box-shadow: -2px 2px 10px var(--shadow-color);
    }
  }

  .book-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px 15px;
    width: 100%;

    .book-title {
      color: var(--text-color);
      text-transform: capitalize;
    }
    .book-author {
      color: var(--text-light);
      text-transform: uppercase;
      font-size: 0.8em;
    }

    .book-pages-reviews {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.2em;
      color: var(--text-light);

      .book.pages {
        font-size: 0.9em;
      }
      .book-reviews {
        font-size: 0.8em;
      }
    }

    .book-price {
      margin: 2px 0px;
      font-weight: 700;
      font-size: 1.1em;
      color: var(--text-color);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .add-to-cart {
      cursor: pointer;
      font-size: 1.1rem;
      display: flex;
      .shopping-cart-quantity {
        position: relative;

        .quantity {
          position: absolute;
          top: -0.4rem;
          right: 0.4rem;
          width: 15px;
          height: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: rgb(255, 174, 0);
          box-shadow: 0px 2px 5px var(--shadow-color);
          color: var(--text-color);
          z-index: 1;
          font-size: 0.8rem;
          padding: 0.1rem;
        }
        .shopping-cart {
          margin-right: 1rem;
        }
      }
    }
  }

  .view-more {
    color: var(--green);
  }
}
