.footer-section {
  margin-top: 2rem;
  background-color: var(--background-color);
  color: #fff;
  padding: 30px 20px;
  border-top: 1px solid rgba(112, 112, 112, 0.5);
  height: fit-content;
  width: 100vw;

  .top {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .contact {
      h1 {
        color: var(--text-color);
        font-size: 24px;
        margin-bottom: 20px;
      }

      .social-icons {
        display: flex;
        gap: 20px;

        .icon {
          font-size: 20px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: var(--text-color);
          color: var(--background-color);
          cursor: pointer;
          transition: 0.2s all;
          &:hover {
            background-color: var(--green);
            transform: scale(1.3);
          }
        }
      }
    }

    .line {
      width: 1px;
      height: 60px;
      border: 1px solid rgba(112, 112, 112, 0.5);
    }

    .newsletter {
      width: 50%;
      max-width: 100%;
      form {
        h3 {
          color: var(--text-color);

          font-size: 20px;
          margin-bottom: 20px;
        }

        .inputs {
          display: flex;
          gap: 10px;

          .box {
            width: 100%;
            padding: 10px;
            font-size: 16px;
          }

          .btn {
            font-size: 16px;
          }
        }
      }
    }
  }

  .bottom {
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-weight: bold;

    svg {
      font-size: 24px;
      margin-left: 15px;
      cursor: pointer;
    }
  }
}
