.sidebar {
  position: fixed;
  right: 0;
  top: 55px;
  height: 100vh;
  width: 160px;
  background-color: var(--dark-green);
  padding: 15px;
  box-shadow: -2px 0px 5px var(--shadow-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
}

.sidebar-items {
  margin: 5px 0px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(199, 199, 199);
}

.sidebar-title {
  font-size: 22px;
  font-weight: bold;
  text-align: right;
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.sidebar-label-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-label-container input:hover {
  cursor: pointer;
}
